{% extends 'layout/base.html' %}

{% block ng_app %}crms.app.index{% endblock %}

{% block content %}
<!-- <div class="panel" ng-repeat="car in cars">
    <div class="panel-heading clearfix">
        {% verbatim %}
        <h3 class="panel-title">{{ car.name }}</h3>
        <img class='pics' width='123px' height='90px' ng-src="static/images/{{ car.image }}">
        {% endverbatim %}
    </div>
</div> -->
<div class="offerlist">
    <div ng-model='offer' align='center' ng-show='visible' class='ng-hide'>
        {% verbatim %}
        <img class='pics' width='350px' ng-src="static/images/{{ offer.car.image }}">
        <div class="user" align='left'>
        <li ng-click="onSelect()"><h3>Go back</h3></li>
        <h3>{{ offer.car.name }}</h3>
    <li ng-click="onSelectuser()"><h3>Owner: {{ offer.car.owner.username }}</h3></li>
    <div ng-show='visibleuser'>
        <h2>E-mail: {{ offer.car.owner.email }}</h2>
    </div>
    <div class='offerl'>
    <h3>Rental: {{ offer.daily_rental }}</h3>
    <h3>Fetch date: {{ offer.fetch_date }}</h3>
    <h3>Return date: {{ offer.return_date }}</h3>
    </div>
    <li id = "rent"><a href="">Rent it now!</a></li>
</div>
        {% endverbatim %}
    </div>
    <div align="center" ng-hide='visible'>
    <h3>Which one do you like?</h3>
    <ul>
    <li ng-repeat="offer in offers" ng-click="onSelect(offer)">
        {% verbatim %}
        <div style='float : left;'>
        <img class='pics' width='123px' height='90px' ng-src="static/images/{{ offer.car.image }}">
        </div>
        <div>
        <h3>{{ offer.car.name }}</h3>
        </div>
        {% endverbatim %}
    </li>
    </ul>
</div>
</div>

<!-- <section class = "panel-heading" >
<p align="center">Which one is Your Favoriate</p>
<div class="offerlist">
<ul align="center">
    <li>
    	<div style='float : left;'>
    	<img class='pics' width='123px' height='90px' src="static/images/">
    	</div>
    	<div>
    	<h3>
    	<a href=""></a>
    	</h3>
    	</div>
    </li>
</ul>
</div>
</section> -->

{% endblock %}
