
body {
  font-family: "Open Sans", sans-serif;
  background: url("/static/images/carback.jpg") 50% fixed;
  background-size: cover;
}

.wrapper {
  padding-top: 10px;
  /*display: flex;*/
  /*flex-direction: column;*/
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1700px;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 10px;
  box-shadow: 0 0 .8823em 0;
}

a{
   color: #8E6F6F;
   text-decoration: none;
}

a:hover{
   color: #A69494;
}

span {
  color: #fff;
}

.pics {
   border: 2px solid rgb(223, 214, 214);
   border-radius: 8px;
   background-color: #B09393;
}

#title {
   width: auto;
   font-size: 50px;
   text-align: center;
   /*background-color: #000;*/
   /*border: 5px solid rgb(223, 214, 214);*/
   color: #EEEEEE
}

#title p{
  margin:30px;
  margin-bottom: 40px;
}

footer {
   text-align: center;
   font-size: 25px;
   color: #B09393;
   position: fixed;
   bottom: 0;
   width: 100%;    
}

.panel{
   text-align: right;
   font-size: 32px;
   color: #fff;
   margin-right: 30px;
   margin-top: 10px;
}

.panel-heading{
   text-align: center;
   padding-top: 5px;
   font-size: 42px;
   color: #B09393;
}

.container{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;

}


form {
  width: 50%;
  border-radius: 2px 2px 5px 5px;
  padding: 10px 20px 20px 20px;
  background: #ffffff;
  position: relative;
  padding-bottom: 80px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}

form input {
  display: block;
  padding: 15px 10px;
  margin-bottom: 10px;
  width: 90%;
  border: 1px solid #ddd;
  transition: border-width 0.2s ease;
  border-radius: 2px;
  color: #ccc;
  margin-top: 7px;
}

input {
  padding: 15px 10px;
  margin-bottom: 10px;
  width: 90%;
  border: 1px solid #ddd;
  background:rgba(255, 255, 255, 0.8);; 
  transition: border-width 0.2s ease;
  border-radius: 2px;
  color: #555;
  margin-top: 7px;
  font-size: 20px;
}

form input:focus {
  outline: none;
  color: #777;
  border-color: #2196F3;
  border-left-width: 35px;
  font-size: 20px;
}
input:focus {
  outline: none;
  color: #444;
  border-color: #2196F3;
  border-left-width: 35px;
}

form a {
  font-size: 0.8em;
  color: #2196F3;
  text-decoration: none;
}
form button {
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  background: #8E6F6F;
  color: #fff;
  display: block;
  border: none;
  margin-top: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  max-height: 60px;
  border: 0px solid rgba(0, 0, 0, 0.1);
  border-radius: 0 0 2px 2px;
  transform: rotateZ(0deg);
  transition: all 0.1s ease-out;
  border-bottom-width: 7px;
}
button {
  width: 28%;
  height: 100%;
  padding: 10px 10px;
  background: #8E6F6F;
  color: #fff;
  margin-top: 20px;
  left: 0;
  bottom: 0;
  max-height: 60px;
  border: 0px solid rgba(0, 0, 0, 0.1);
  border-radius: 0 0 2px 2px;
}

label{
  color: #8E6F6F;
}

h3{
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
  color: #8E6F6F;
}

.offerlist ul {
  width: 70%;
  margin-left: 10%;
  margin-right: 10%;
  columns: 2;
  list-style-type: none; 
}
 
.offerlist li img {
  margin: 0 15px 0 0;
}
 
.offerlist li {

  width: 90%;
  height: 90%;
  margin-top: 10px;
  padding: 10px;
  overflow: auto;
}

.offerlist li:hover {
  border: 2px solid rgb(223, 214, 214);
  border-radius: 8px;
/*  background: #bbb;*/
  cursor: pointer;
}
.user h2{
  color: #fff;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
}
.user li{
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
}
.user h3{
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
}
.user h5{
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
}
.user li h3{
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
}

#rent {
  font-size: 32px;
  color: #fff;
  margin-bottom: 10px; 
}
.formcontrol{
  width: 90%;
}
