{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        {% endblock %}
        <meta charset="UTF-8" />
        <title>C.R.M.S</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/crmsstyle.css' %}" />
    </head>
    <body>
        <div class="panel">
            <span>|</span>
            <a href="">Home</a>
            <span>|</span>
            <a href="">Account</a>
            <span>|</span>
            <a href="">logout</a>

            <span>|</span>
            <a href="">login</a>
            <span>|</span>
            <a href="">register</a>
            <span>|</span>
   
        </div>
        
        <header id="title">
            <p>
                Where come to CRMS, 

                Visitor

            </p>
        </header>
        <div class="wrapper">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
