{% block content %}
<div class="login center-block">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="'panel-title'"><strong>Login</strong></h3>
        </div>
        <div class="panel-body">
            <form method="post" action="{% url 'login' %}">{% csrf_token %}
                {% for field in form %}
                <div class="fieldWrapper">
                    <label for="">{{ field.label }}</label>
                    {{ field }}
                </div>
                {% endfor %}
                <button type="submit" value="login" />Login</button>
            </form>

            {% if form.non_field_errors %}
            <div class="message">
                <!-- <p>Your username and password didn't match. Please try again.</p> -->
                {{ form.non_field_errors }}
            </div>
            {% endif %}
        </div>
    </div>
</div>




{% endblock %}
