{% extends 'layout/base.html' %}
{% block content %}

<p class="panel-heading">{{ offer.car.name }}</p>
<div class="user">
<li><h3>Owner: <a href="{% url 'crms:user' offer.car.owner.id %}">{{ offer.car.owner.username }}</a></h3></li>
<li><h3>Rental: {{ offer.daily_rental }}</h3></li>
<li><h3>Fetch date: {{ offer.fetch_date }}</h3></li>
<li><h3>Return date: {{ offer.return_date }}</h3></li>
<li id = "rent"><a href="{% url 'crms:register_deal' %}">Rent it now!</a></li>
<li><a href="{{request.META.HTTP_REFERER}}">Go back</a></li>
</div>

{% endblock %}
