{% extends 'layout/base.html' %}
{% block content %}

<div class="container">
    <div class="register-offer center-block">

        <div class="panel-heading">
            <p>
                Register offer
            </p>
        </div>

        <div class="panel-body">
            <form action="{% url 'crms:register_offer' %}" method="post">{% csrf_token %}
                {% for field in form %}
                <div class="label">
                    <label>{{ field.label }}</label>
                </div>
                <div class="value">
                    {{ field }}
                </div>
                {% if field.errors %}
                <div class="error">
                    {% for error in field.errors %}
                    <strong>{{ error|escape }}</strong>
                    {% endfor %}
                </div>
                {% endif %}

                {% endfor %}
                <a href="{{request.META.HTTP_REFERER}}">Go back</a>
                <button type="submit" class="btn btn-default">Register offer</button>

            </form>
        </div>

    </div>
</div>

{% endblock %}
